
.posts {
    padding: 0 20px;
}
.textarea {
    width: 50vw;
    max-width: 300px;
    height: 80px;
    display: block;
    border-radius: 0.7rem;
    padding: 1rem;
    background: #849fb2;
    color: #223848;
    font-family: Roboto;
}
.button {
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    border-radius: 0.7rem;
    color: #849fb2;
    background: #2e485b;
    border: none;
}