.users{

}
.usersFlex {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 30px;
    width: 95%;
}
.userItem {
    /*width:200px;*/
    /*display: flex;*/
    /*height:400px;*/
    /*flex-direction: row;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    /*border: 1px solid #69b2a9;*/
    /*box-sizing: border-box;*/
    /*margin: 10px;*/
    margin-bottom: 15px;
}
.userInfo {
}
.avatar {
    width: 80px;
    height: 80px;
    display: inline-block;
    background: rgba(105, 178, 169, 0.2);
    border-radius: 100px;
}
.status {

}
.buttons {
    display: flex;
    flex-direction: column;
}
 .button {
    display: block;

}
