.userItem {
    width:700px;
    display: flex;
    height: 200px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #69b2a9;
    padding: 15px;
    box-sizing: border-box;
}
.userInfo {
}
.avatar {
    width: 80px;
    height: 80px;
    display: inline-block;
    background: rgba(105, 178, 169, 0.2);
    border-radius: 100px;
}
.status {

}
.buttons {
    display: flex;
    flex-direction: column;
}
.buttons button {
    display: block;
}
.pageNumber {
    margin-left: 10px;
    cursor: pointer;
}
.activePage {
    font-weight: 700;
    color: #b8dee7;
}