.view {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}
.header {
    display: flex;
    justify-content: space-between;
    background: #395365;
    padding: 0 15px;
}
.logo {
    padding: 10px;

}
.auth{
    display: flex;
    align-items: center;
}
.nickname{
    display: inline-block;
    margin-right: 20px;
}
.content {
    flex: 1 0 auto;
    background: #223848;
    min-height: 100%;
    height: 100%;
}