.dialogs_grid_wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.users_wrapper {
    width: 100%;
    background: #2a5752;
}
.user {
    padding: 1rem;
}
.messages__wrapper {
    width: 100%;
    background: #69b2a9;
}
.message {
    padding: 1rem;
}